@import "../../../styles/variables";
@import "../../../styles/screensize";

.navbar {
  background-color: $primaryColor;
  color: #fff;
  width: 100%;
  height: 50px;
  z-index: 2;
  position: fixed;
  top: 0;
  padding-left: 15px;

  @include tabletSS {
    display: block;
  }

  @include mobileSS {
    padding-left: 20px;
    visibility: visible;
  }

  .show {
    left: 0;
  }
  .brand {
    color: #fff;
  }
  label.brand {
    font-size: medium;
    font-weight: bold;
    display: inline-block;
    // position: absolute;
    line-height: 50px;
    color: #fff;
    a {
      color: #fff;
    }
  }

  ul {
    float: right;
    margin-right: 40px;
    height: 50px;
    // width: 50%;
    @include tabletSS {
      visibility: visible;
      position: fixed;
      width: 50%;
      height: 100vh;
      background-color: rgba(255, 255, 255, 0.8);
      border-top: $primaryColor;
      border-style: solid;
      border-left: none;
      border-right: none;
      border-bottom: none;
      border-width: 0.5px;
      color: $primaryColor;
      top: 50px;
      text-align: left;
      left: -100%;
      transition: all 0.5s;
      overflow-y: scroll;
      scroll-behavior: smooth;
    }

    li {
      line-height: 50px;
      display: inline-block;
      color: $primaryColor;
      border-radius: 8px;
      &:hover {
        background-color: #fff;
        color: $primaryColor;
        transition: 0.5s;
        border-radius: 0px;
      }
      &:hover > a {
        color: $primaryColor;
      }
      @include tabletSS {
        display: block;
        margin: 10px;
        line-height: 30px;
        &:hover {
          background-color: $primaryColor;
          color: #fff;
          transition: 0.5s;
        }
      }

      a {
        font-size: small;
        color: #fff;
        text-transform: uppercase;
        margin: 0 10px;
        @include tabletSS {
          color: $primaryColor;
        }
      }
    }
    .active {
      background-color: $primaryColor;
      transition: 0.5s;
      a {
        color: #fff;
      }
    }
  }
  label.icon {
    color: #fff;
    font-size: medium;
    line-height: 50px;
    float: right;
    margin-right: 40px;
    align-items: center;
    cursor: pointer;
    display: none;
    @include tabletSS {
      display: block;
    }
    @include mobileSS {
      visibility: visible;
    }
  }
}

// .imgd {
//   color: #fff;
//   font-size: medium;
//   line-height: 50px;
//   // float: right;
//   height: 35px;
//   width: 45px;
//   // margin-right: 40px;
//   align-items: center;
//   @include tabletSS {
//     display: block;
//   }
//   @include mobileSS {
//     visibility: visible;
//   }
// }
